{% extends "base.html" %}

{% block body %}
<form action="/history">
  Find all events from place: (capitalization matters!)
  <input class="form-control" type="text" name="place">
  <input class="btn btn-dark" type="submit" name="submit">
</form>
{% for item in place %}
  <b>Description: </b> {{item['description']}}
  <br><br>
{% endfor %}
<br>
<form action="/history">
  Find all events from year:
  <input class="form-control" type="number" name="year" max="2020">
  <input class="btn btn-dark" type="submit" name="submit">
</form>
{% for item in year %}
  <b>Description: </b> {{item['description']}}
  <br><br>
{% endfor %}
<br>
<form action="/history">
  Find all events from topic:
  <input class="form-control" type="text" name="topic">
  <input class="btn btn-dark" type="submit" name="submit">
</form>
{% for item in topic %}
  <b>Description: </b> {{item['description']}}
  <br><br>
{% endfor %}
<br>
<form action="/history">
  Find all events from keyword:
  <input class="form-control" type="text" name="keyword">
  <input class="btn btn-dark" type="submit" name="submit">
</form>
{% for item in keyword %}
  <b>Description: </b> {{item['description']}}
  <br><br>
{% endfor %}
<br>
{% endblock %}
