{% extends "_base.html" %}

{% block body %}
<center>
  <h1>Welcome to the Concrastinators Database!</h1>
  <p style="font-style:italic;">
    Have you been procrastinating on studying for your AP Gov test? Need help learning historical events or the name of that random senator who passed some crazy bill in 1955?
  </p>
  <h3 style="color:navy;">Well, have no fear! The CON-crastinators are here! Click on either one of the links below to access and query our data on historical events and our senators!</h3>
  <a href="/history">Historical Events</a><br>
  <a href="/senators">Senators</a>
</center>
{% endblock %}
