<!DOCTYPE html>
<html>
	<head>
		{% block head %}
		<title>{% block title %}Login{% endblock %}
		</title>
		{% endblock %}
	</head>
	<body>
		{% block content %}
    <form action="/auth">
      Enter a username:
      <input type="text" name="username"><br>
      Enter a password:
      <input type="text" name="password"><br>
      <input type="submit" name="sub1">
    </form>
		{% endblock %}

		{% block footer %}
		<br>
		Team Name: Apples Bananas <br>
		Roster: Matthew Chan, Peihua Huang
		{% endblock %}
	</body>
</html>
